<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyifeng.demo.mapper.chart.ChartDataMapper">

    <!-- 调用存过 -->
    <select id="checkSyntax" parameterType="String">
       selec count(1) from #{sqlStr} as t where 1 = 2

    </select>
</mapper>